.btnn {
    font-family: 'Marcellus SC', serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 15px; 
    background: #1e2328;
    color: #cdbe91;
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2px;
  }

.btnn:hover {
    text-shadow: 0 0 5px #ffffff80;
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(to bottom, #1e2328, #433d2b);
    cursor: pointer;
    transition: 0.1s;
  }
  
.btnn:active {
    text-shadow: none;
    box-shadow: none;
    color: #cdbe9130;
  }

  @font-face {
    font-family: 'leagueFont'; /* Remplacez par le nom que vous souhaitez donner à la police */
    src: url('../../assets/fonts/medium.otf') format('opentype'), /* Chemin vers le fichier Opentype */
         url('../../assets/fonts/regular.ttf') format('truetype'); /* Chemin vers le fichier TrueType */
  }

  h3 {
    font-family: 'league-font', sans-serif; /* Utilisation de votre police avec une sauvegarde "sans-serif" */
  }

  .small {
    font-size: 40px;
  }

  .rankImg {
    width : 120px;
    height : 120px;
  }