<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">


<ng-container *ngIf="gameStarted == false">
  <div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
      <img src="{{ chosenGoat }}">
      <h3 class="text-center display-2">Who's the <span class="text-danger">GOAAAAT</span>?!🐐 </h3>
      <div class="text-center">
          <button *ngIf="showButton" class="btn btn-outline-dark btn-lg" (click)="onStart()" id="startBtn">Start <i class="fa fa-soccer-ball-o"></i></button>
      </div>
      <h2 *ngIf="showButton" class="text-center">🏆{{ highest }}</h2>
    </div>
  </div>
</ng-container>

<app-game *ngIf="this.gameStarted == true"></app-game>
<router-outlet></router-outlet>
